.maincontainer {
  width: 75vw;
  margin: auto;
}

.maincontainer form {
  width: 60%;
  /* background-color: rgb(215, 240, 240); */
  margin: auto;
  padding: 10px;
}

.maincontainer div {
  margin-bottom: 12px;
}

.btn {
  padding: 8px 12px;
  border-radius: 3px;
  color: white;
  background-color: #fab005;
  border: none;
  margin: 10px;
  transition: all 0.2s ease-out;
}
.submit {
  margin-left: 0;
}
.btn:hover,
.btn:active {
  transform: scale(1.1, 1.1);
}

.maincontainer select {
  width: 100%;
  padding: 9px 12px;
  border-radius: 3px;
}
.maincontainer input {
  width: 100.5%;
  padding: 9px 12px;
  border-radius: 3px;
  border: 1px solid grey;
}

.c1,
.c2 {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.categoryContainer {
  display: flex;
  justify-content: space-between;
}
img {
  margin: 2px;
}

.highlightContainer input {
  width: 50%;
}
#anchor {
  text-decoration: none;
  color: inherit;
}
.maincontainer p {
  font-size: 22px;
}
.maincontainer h1 {
  font-size: 32px;
}

hr {
  border: 0.3px solid #495057;
  border-style: groove;
}

.productContainer {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}
